body {
  font-family: monospace;
}

.section-one {
  background-color: #272727;
  color: #fff;
}

.main-subtitle {
  color: #fff;
}

.title {
  color: #29f3c3;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

dd {
  margin-left: 50px;
}

dt {
  float: left;
}

dt::after {
  content: ": ";
}

.has-margin-top-3 {
  margin-top: 2rem;
}

a {
  color: #29f3c3;
}

.footer {
  background-color: #272727;
  color: #29f3c3;
}