body {
  background-color: #FFD90F!important;
   font-family: 'Zilla Slab', serif;
 }
 .actual-quote__button{
   padding: 10px; 
   background-color:#FFD90F;
   color:white;
   box-shadow:none!important;
   cursor: pointer;
 }
 .tittle_padding{
   padding-top: 50px;
   padding-bottom: 25px;
 }
 .col-md-6.offset-md-3.quote-box{
   background: white;
   border-radius: 10px;
   padding:35px;
   margin-top: 60px;
 }
 .footer{
   padding-top: 20px;
   padding-bottom: 20px;
   
 }
 .footer i{
   color: white;
 }
 .quote-box i{
   color:#FFD90F;
 }
 @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 500px){
     .col-md-6.offset-md-3.quote-box{
       margin:20px;
     }
 
 }