body {
  color:gray;
  
}
i{
  color:white;
}
i:hover{
  color:gray;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
  background-color: #126E87;
  margin: 0px!important;
  color:white!important;
}
.pad{ padding-top: 50px; }


 .footer-top-layout {
  background: #126E87 none repeat scroll 0 0;
  color: white;
  padding-top:50px;
   padding-bottom:20px;
   margin-top:50px;
  } 

.portfolio-item {
    margin-bottom: 30px;
}
.OurBlog {
  margin-bottom: 32px;
  text-align: center;
}
.footer-bottom-layout {
  background: #0E586C none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}

.socialMedia-footer {
  margin-bottom: 20px;
}
.socialMedia-footer > a {
  display: inline-block;
  margin: 0 8px;
}





