
body{
padding: 0;
margin: 0; 
font-family: 'Playfair Display', serif;

}
.header {
	 
	padding-top:50px;
	padding-bottom: 50px; 
	width: 100%; 
	height: auto;
	background-color: #00BCD4;
	text-align: center;
	margin-bottom: 70px;
}

.wrapper {
	width: 100%;
}
.headerTitle{
	
	margin: 0;
	padding-top: 20px;
	text-align: center;
	color: white;
}
.secondSection
{
	padding-right: 60px;
	margin-bottom: 50px;
}
.firstSection p{
	padding-right: 120px; 
	padding-left: 120px;
	margin-bottom: 60px;
}
.secondSection p{
	padding-left: 60px; 
}
.cen
{text-align:center;}
.left 	
{
	float: left;
    width: 33.33333333%;
}

.thirdSection
{
height: auto;
width: auto;
padding-top: 50px;

}
.thirdSection p
{
	padding-right: 20px;
}
.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.footer
{
		background-color: #00BCD4;
		width: 100%; 
	     height: auto;	     
}

.footer p
{
	padding: 100px 100px 100px 50px;
	color: white;
	display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
@media only screen and (max-width: 1000px)
{

	.header p
	{	
	padding-left: 50px;
	padding-right: 50px;
	}
	.header
	{
		padding-top: 100px;
	}
	.secondSection
	{
		padding-left: 60px;
		padding-right: 120px;
	}
	.secondSection p
	{
		font-size: larger;
	}

	.left
	{
		width: auto;
		padding: 50px, 100px, 100px, 50px;
	}
}
