
body{
padding: 0;
margin: 0; 

}
.header {
	width: 100%; 
	height: 200px;
	background-color: #00BCD4;
}

.blanco {
	width: 100%; 
	height: 200px;
	background-color: white;
}
.headerTitle{
	padding: 0;
	margin: 0;
	text-align: center;
	color: gray;
	font-family: 'Playfair Display', serif;
	
}